/* Start coding here */
body{
    background: linear-gradient(50deg,hsl(0, 100%, 70%),hsl(240, 100%, 70%));
    height: 100vh;
    width: 100%;
}

.box{
    background-color: hsla(0, 50%, 100%, 0.5);
    text-align: center;
    width: 30%;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 25%;
    left: 35%;
}
